.navbarBrand {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
}

.navbar {
    -webkit-box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);
}